<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>{{banner.title}}</h2>
				<p>{{banner.subtext}}</p>
			</div>
			<div class="5u 12u(medium)">
				<ul>
					<li>{% include '@atoms/button.twig' with {
						button: {
						class: button.class,
						label: button.label,
						link: button.link
						}
					}%}</li>
					<li>{% include '@atoms/button.twig' %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
