<div class="8u 12u(medium) important(medium)">
  <div id="content">
    <section class="last">
      <h2>{{main.title}}</h2>
      <p>{{main.content}}</p>
      {% include '@atoms/button.twig' %}
    </section>
  </div>

</div>
