<div id="main-wrapper">
	<div class="container">
		<div class="row 200%">
      {% include '@molecules/side-bar.twig' %}
      {% include '@molecules/main-content.twig' %}
    </div>
  </div>
</div>
