<div id="page-wrapper">
  {% include '@organisms/header.twig' %}
  {% include '@molecules/banner.twig' %}
  {% include '@organisms/features.twig' %}
  {% include '@organisms/main-section.twig' %}
  {% include '@organisms/footer.twig' %}
</div>
