<div class="3u 6u$(medium) 12u$(small)">
  <section class="widget links">
    <h3>{{linkCol.title}}</h3>
    <ul class="style2">
      {% for item in linkCol.items %}
        <li><a href="{{item.link}}">{{item.content}}</a></li>
      {% endfor %}
    </ul>
  </section>

</div>
