<a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
<a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
<a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
<a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a>
<a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a>
