<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      {% include '@molecules/link-column.twig' with {
        linkCol: {
        title: title,
        items: items
        }
      }%}
      {% include '@molecules/link-column.twig' %}
      {% include '@molecules/link-column.twig' %}
      {% include '@molecules/contact.twig' %}
    </div>
    <div class="row">
      <div class="12u">
        <div id="copyright">
          {% include '@molecules/simple-menu.twig' %}
        </div>
      </div>
    </div>
  </footer>
</div>
